<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-320x460.png"/>
    <meta name="author" content="SindevoThemes"/>
    <meta name="description" content="GoMobile - A next generation web app theme"/>
    <meta name="keywords"
          content="mobile web app, mobile template, mobile design, mobile app design, mobile app theme, mobile wordpress theme, my mobile app"/>
    <title>GoMobile - A next generation web app theme</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link type="text/css" rel="stylesheet" href="colors/metro/metro.css"/>
    <link type="text/css" rel="stylesheet" href="css/swipebox.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
    <script src="js/jquery.validate.min.js" type="text/javascript"></script>
    <title>GoMobile - A next generation web app theme</title>
    <script>
        function fres() {
            window.location.href = "/collect";

        }
    </script>
    <style>
        body {
            background-color: #06a78b;
        }
        .myform{
            padding: 0 0 15px 0;
        }
    </style>
</head>
<body>
<div id="wrapper">

    <div id="content">
        <div id="header">
            <div class="gomenu radius20"><a id="homebutton"><img src="images/icons/home.png" alt="" title=""
                                                                 onclick="fres();"/></a></div>
        </div>
        <div class="sliderbg bluegreen">
            <div class="pages_container">

                <h2 class="page_title">人力资源注册</h2>
                <h2 id="Note"></h2>
                <div class="myform">

                    <form action="/humanResourceReg" id="regloginform" method="post">
                        <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
                        <div class="group-inputs">
                            <!-- <div class="email input-wrapper">
                                 <label>username:</label>
                                 <input type="text" name="userName" aria-label="用户名" placeholder="用户名" required="" class="form_input radius4 required">
                             </div>-->
                            <div class="input-wrapper">
                                <label>请输入手机号:</label>
                                <input type="tel" name="phoneNumber" aria-label="颜色" placeholder="请输入手机号" required=""
                                       class="form_input radius4 required" maxlength="11">
                            </div>
                        </div>
                        <input type="hidden" name="next" value="$!{next}"/>
                        <div class="button-wrapper command clearfix">

                            <button class="form_submit radius4 green green_borderbottom" type="submit"
                                    onclick="form=document.getElementById('regloginform');form.action='/humanResourceReg'">
                                注册
                            </button>
                        </div>
                    </form>
                </div>
                <h2>第三方账号接入</h2>
                <ul class="social">
                    <li class="social_facebook"><a href="#" class="externallink"><img
                            src="images/icons/social/facebook.png" alt="" title="" border="0"/></a></li>
                    <li class="social_twitter"><a href="#" class="externallink"><img
                            src="images/icons/social/twitter.png" alt="" title="" border="0"/></a></li>
                    <li class="social_google"><a href="#" class="externallink"><img src="images/icons/social/google.png"
                                                                                    alt="" title="" border="0"/></a>
                    </li>
                    <li class="social_pinterest"><a href="#" class="externallink"><img
                            src="images/icons/social/pinterest.png" alt="" title="" border="0"/></a></li>
                    <li class="social_flickr"><a href="#" class="externallink"><img src="images/icons/social/flickr.png"
                                                                                    alt="" title="" border="0"/></a>
                    </li>
                    <li class="social_digg"><a href="#" class="externallink"><img src="images/icons/social/digg.png"
                                                                                  alt="" title="" border="0"/></a></li>
                </ul>


            </div>
        </div>
    </div>
</div>
</body>
</html>